.venue-group {
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.venue-group .name {
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-bottom: 1px dotted gray;
}

#places-container {
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 9px;
  margin-right: 9px;
}

#map {
  height: 600px;
  margin-bottom: 20px;
}

.signup-container {
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}
