{% extends 'base.html' %}
{% load foursquare_tags %}
{% load facebook_tags %}
{% load raw %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/mustache.js"></script>
{% if user.is_authenticated %}

{% raw %}
<script id="group-template" type="text/plain">
  <div class="venue-group">
    <div class="name">{{group.name}}</div>
    {{#group.items}}
    <div class="venue">
      <span class="venue-name">{{venue.name}}</span>
    </div>
    {{/group.items}}
  </div>
</script>
<script id="facebook-places-template" type="text/plain">
  {{#places}}
  <div class="place">
    <span class="name">{{name}}</span>
  </div>
  {{/places}}
</script>
{% endraw %}

<script>
  $(document).ready(function() {
    var map;
    var groupTemplate = $('#group-template').html();
    var placesTemplate = $('#facebook-places-template').html();

    var render = function(target, template, context) {
      $(target).append(Mustache.to_html(template, context));
    };

    var renderExploreResponse = function(response) {
      $('#foursquare-signup').remove();
      $.each(response.groups, function(i, group) {
        render('#venue-container', groupTemplate, {group: group})
        $.each(group.items, function(i, item) {
          var venue = item.venue;
          var position = new google.maps.LatLng(venue.location.lat, venue.location.lng);
          var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: venue.name
          });
        });
      });
    };

    var renderPlaces = function(places) {
      $('#facebook-signup').remove();
      console.log(places);
      $.each(places, function(i, place) {
        var position = new google.maps.LatLng(place.location.latitude, place.location.longitude);
        var marker = new google.maps.Marker({
          position: position,
          map: map,
          title: place.name
        });
      });
      render('#places-container', placesTemplate, {places: places});
    };

    var explore = function(latitude, longitude) {
      var ll = latitude + ',' + longitude;
      var cachedResponse = sessionStorage.getItem(ll);

      if(cachedResponse !== null) {
        var response = JSON.parse(cachedResponse);
        console.log("rendering explore results from cache.");
        renderExploreResponse(response);
        return;
      };

      console.log("no cached explore response found.");

      $.ajax({
        type: "GET",
        url: "https://api.foursquare.com/v2/venues/explore",
        async: true,
        cache: false,
        timeout: 30000,
        data: {
          oauth_token: "{{ user.foursquareuser.oauth_token }}",
          ll: ll
        },
        success: function(data) {
          console.log("Called foursquare successfully");
          console.log(data);
          renderExploreResponse(data.response);
          sessionStorage.setItem(ll, JSON.stringify(data.response));
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          console.log("Failed to call foursquare.");
          $.each([XMLHttpRequest, textStatus, errorThrown], function(i, v) {
            console.log(v);
          });
        }
      });
    };

    var fblocations = function(latitude, longitude) {
      $.ajax({
        type: "GET",
        url: "https://graph.facebook.com/search",
        dataType: 'json',
        data: {
          type: 'place',
          center: latitude + ',' + longitude,
          distance: 1000,
          access_token: '{{ user.facebookuser.oauth_token }}'
        },
        success: function(data) {
          console.log("Called facebook succesfully");
          console.log(data);
          renderPlaces(data.data);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          console.log("Failed to call Facebook");
          console.log(XMLHttpRequest);
          console.log(textStatus);
          console.log(errorThrown);
        }
      });
    };

    navigator.geolocation.getCurrentPosition(function(pos) {
      var latitude  = pos.coords.latitude;
      var longitude = pos.coords.longitude;

      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: new google.maps.LatLng(latitude, longitude),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      explore(latitude, longitude);
      fblocations(latitude, longitude);
    });
  });
</script>
{% endif %}
{% endblock %}

{% block body %}
<div class="container_12">
  {% if user.is_authenticated %}
  <div id="map" class="grid_12"></div>
  {% endif %}
  <div id="venue-container" class="grid_6">
    <div id="foursquare-signup" class="signup-container">
      {% if user.foursquareuser %}
        fetching recommendations...
      {% else %}
        <a href="{% foursquare_auth_uri %}">foursquare</a>
      {% endif %}
    </div>
  </div>
  <div id="places-container" class="grid_6" id="facebook">
    <div id="facebook-signup" class="signup-container">
      {% if user.facebookuser %}
        hide yo kids, hide yo wife, we got yo fb deets
        <!-- {{ user.facebookuser.oauth_token }} -->
      {% else %}
        <a href="{% facebook_auth_uri %}">facebook</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
