{% extends 'base.html' %}
{% load foursquare_tags %}
{% load raw %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/mustache.js"></script>
{% if user.is_authenticated %}

<script>
  $(document).ready(function() {
  {% if foursquare_oauth_token %}
    var renderGroup = function(group) {
      var nameTemplate = '<span class="group-name">{% raw %}{{name}}{% endraw %}</span>';
      var nameTag = Mustache.to_html(nameTemplate, {name: group.name});
      $('#venues').append(nameTag);
      console.log(nameTag);

      $('#venues').append('<ul>');
      $.each(group.items, function(i, item) {
        var itemTemplate = '<li>{% raw %}{{name}}{% endraw %}</li>';
        var itemTag = Mustache.to_html(itemTemplate, {name: item.venue.name});

        $('#venues').append(itemTag);
        console.log(item.venue.name);
        console.log(itemTag);
      });
      $('#venues').append('</ul>');
    };

    var explore = function(latitude, longitude) {
      $.ajax({
        type: "GET",
        url: "https://api.foursquare.com/v2/venues/explore",
        async: true,
        cache: false,
        timeout: 5000,
        data: {
          oauth_token: "{{ foursquare_oauth_token }}",
          ll: latitude + ',' + longitude,
        },
        success: function(data) {
          $('#json-response').text(JSON.stringify(response));
          var response = data.response;
          // console.log(response);
          var groups = response.groups;
          // console.log(groups);
          $.each(groups, function(i, group) {
            renderGroup(group);
          });
          console.log("Success!");
          console.log(data);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          $.each([XMLHttpRequest, textStatus, errorThrown], function(i, v) {
            console.log(v);
          });
        }
      });
    };

    navigator.geolocation.getCurrentPosition(function(pos) {
      var latitude  = pos.coords.latitude;
      var longitude = pos.coords.longitude;
      $('#longitude').html(longitude);
       $('#latitude').html(latitude);

      explore(latitude, longitude);
    });
  {% else %}
    console.log("Didn't receive an oauth token.");
  {% endif %}
  });
</script>
{% endif %}
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
  <div id="venues"></div>
  {% else %}
  <a href="{% foursquare_auth_uri %}">sign up using your foursquare account</a>
{% endif %}

{% endblock %}
